body { 
    height: 100%;
    display: flex;
    justify-content:end;
    align-items:center; 
}

.marquee {
  height: 25px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee ul {
  display: block;
  width: 200%;
  height: 30px;
  position: absolute;
  overflow: hidden;
  animation: marquee 20s linear infinite;
  list-style: none;
 
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

/*


*/

h1::before {  
  transform: scaleX(0);
  transform-origin: bottom right;
}

h1:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1::before {
  content: " ";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: #FCDD81;
  z-index: -1;
  transition: transform .5s ease;
}

h1 {
  position: relative;
  font-size: 5rem;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

@media (orientation: landscape) {
  body {
    grid-auto-flow: column;
  }
}